* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: rgb(223, 223, 223);
}

.home-section {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.home-btns-container {
    display: flex;
    align-items: center;
    gap: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.login-btn {
    width: 120px;
    text-align: center;
    color: #fff;
    background-color: rgb(57, 153, 57);
    padding: 5px 25px;
    border-radius: 10px;
    text-decoration: none;
    transition: 0.3s;
}
.login-btn:hover {
    background-color: rgb(27, 102, 27);
}
.register-btn {
    width: 120px;
    text-align: center;
    color: #fff;
    background-color: rgb(57, 153, 57);
    padding: 5px 25px;
    border-radius: 10px;
    text-decoration: none;
    transition: 0.3s;
}
.register-btn:hover {
    background-color: rgb(27, 102, 27);
}
.register-section {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.register-content {
    padding: 28px 10px;
    background-color: #fff;
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    border-radius: 15px;
    font-family: Arial, Helvetica, sans-serif;
}
.register-header {
    color: rgb(27, 102, 27);
    font-size: 20px;
    letter-spacing: 1.5px;
    margin-bottom: 10px;
}
.register-form {
    width: 100%;
    padding: 5px 15px;
    display: flex;
    flex-direction: column;
    gap: 17px;
}

.form-header {
    margin-bottom: 7px;
}
.register-input {
    width: 100%;
    padding: 8px;
    background-color: rgb(225, 225, 225);
    border: none;
    border-radius: 5px;
}
.submit-btn {
    margin-top: 10px;
    background-color: rgb(57, 153, 57);
    border: none;
    padding: 7px;
    cursor: pointer;
    transition: 0.3s;
    color: #fff;
    font-size: 15px;
    letter-spacing: 1.5px;
    border-radius: 7px;
}
.submit-btn:hover {
    background-color: rgb(27, 102, 27);
}
.register-footer {
    font-size: 15.5px;
}
.login-section {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.login-content {
    width: 350px;
    background-color: #fff;
    padding: 20px 28px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 13px;
}
.login-header {
    color: rgb(27, 102, 27);
    font-size: 20px;
    letter-spacing: 1.5px;
    margin-bottom: 10px;
    text-align: center;
}
.login-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.login-button {
    background-color: rgb(57, 153, 57);
    border: 0;
    color: #fff;
    padding: 7px;
    border-radius: 10px;
    margin-top: 22px;
    cursor: pointer;
    transition: 0.3s;
}
.login-button:hover {
    background-color: rgb(27, 102, 27);
}
.login-input {
    padding: 7px;
    border: none;
    border-bottom: 2px solid rgb(172, 171, 171);
    outline: none;
}
.login-input:focus {
    color: rgb(27, 102, 27);
    border-bottom: 2px solid rgb(27, 102, 27);
}
.login-footer {
    text-align: center;
    margin-top: 18px;
    font-size: 15.5px;
}
.error-msg {
    text-align: center;
    color: rgb(213, 70, 70);
    letter-spacing: 1px;
    font-size: 14px;
}
.dashboard-section {
    height: 100vh;
}

.dashboard-content {
    width: 60%;
    margin: 0 auto;
    padding-top: 50px;
}
.dashboard-title {
    text-align: center;
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 2px;
    color: #333;
    padding-bottom: 70px;
}
.dashboard-users {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    overflow-y: scroll;
    height: 550px;
}

.article-user {
    padding: 10px;
    width: 180px;
    min-height: 200px;
    background-color: #dbcfa9;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.article-img {
    width: 80px;
    height: 80px;
    border-radius: 100%;
    object-fit: cover;
}

.icons-container {
    width: 57%;
    margin: 8px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 18px;
}
.delete-btn {
    color: rgb(218, 34, 34);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.edit-btn {
    color: rgb(11, 167, 55);
    display: flex;
    align-items: center;
    justify-content: center;
}
.eye-btn {
    color: rgb(15, 100, 175);
    display: flex;
    align-items: center;
    justify-content: center;
}
/* HTML: <div class="loader"></div> */
.loader {
    width: fit-content;
    font-weight: bold;
    font-family: monospace;
    font-size: 30px;
    color: #0000;
    overflow: hidden;
    animation: l9 5s infinite cubic-bezier(0.3, 1, 0, 1);
}
.loader:before {
    content: "Loading...";
}
@keyframes l9 {
    0% {
        text-shadow: 0 0 #000, 11ch 0 #8a9b0f, 22ch 0 #c02942, 33ch 0 #00a0b0,
            44ch 0 #000;
    }
    25% {
        text-shadow: -11ch 0 #000, 0ch 0 #8a9b0f, 11ch 0 #c02942, 22ch 0 #00a0b0,
            33ch 0 #000;
    }
    50% {
        text-shadow: -22ch 0 #000, -11ch 0 #8a9b0f, 0ch 0 #c02942,
            11ch 0 #00a0b0, 22ch 0 #000;
    }
    75% {
        text-shadow: -33ch 0 #000, -22ch 0 #8a9b0f, -11ch 0 #c02942,
            0ch 0 #00a0b0, 11ch 0 #000;
    }
    100% {
        text-shadow: -44ch 0 #000, -33ch 0 #8a9b0f, -22ch 0 #c02942,
            -11ch 0 #00a0b0, 0ch 0 #000;
    }
}

.logout-btn {
    position: absolute;
    top: 20px;
    right: 40px;
    padding: 10px 20px;
    border: none;
    background-color: rgb(48, 132, 206);
    color: #fff;
    border-radius: 10px;
    font-size: 17px;
    cursor: pointer;
    transition: 0.3s;
}
.logout-btn:hover {
    background-color: rgb(15, 100, 175);
}
